data/
others/
Src/other
Src/__pycache__
Src/torch
Src/testmodel.pkl
Src/ML-NLSE.code-workspace
Src/.vscode
Src/decision_tree
Src/scikit_learn_decision_tree_gp1d
Src/xmds2/Test
Src/xmds2/__pycache__
Src/xmds2/Test
Src/xmds2/xpdeint
Src/xmds2/xgp1d.cc
Src/xmds2/func.h5
Src/xmds2/gp1d.h5
Src/xmds2/gp1d.ipynb
Src/xmds2/nohup.out
Src/xmds2/xgp1d
Src/xmds2/gp1d.xsil
Src/xmds2_2d/__pycache__
Src/xmds2_2d/xgp2d.cc
Src/xmds2_2d/xgp2d_no_opt.cc
Src/xmds2_2d/xgp2d_no_thread.cc
Src/xmds2_2d/gp2d.h5
Src/xmds2_2d/xgp2d
Src/xmds2_2d/xgp2d_no_opt
Src/xmds2_2d/xgp2d_no_thread
Src/xmds2_2d/gp2d.xsil
figs/APPLRESULTS
presentation/APPLPRESENTATION
report/APPLREPORT
